@import "tailwindcss";

:root {
  --color-background: #ffa9ae;
  --color-surface: #ff4f74;
  --color-primary: #ffa5cc;
  --color-accent: #9e0043;
  --color-text: #34252b;
  --color-muted: #4c4245;
}

.dark {
  --color-background: #10090e;
  --color-surface: #1f1520;
  --color-primary: #2b1f2c;
  --color-accent: #f2b4c5;
  --color-text: #f3eaf2;
  --color-muted: #b9a6b3;
}

@theme inline {
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
  --color-primary: var(--color-primary);
  --color-accent: var(--color-accent);
  --color-text: var(--color-text);
  --color-muted: var(--color-muted);
  --font-sans: var(--font-baloo);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
